@import "tailwindcss";

@theme {
  --color-primary: #1E88E5;
  --color-secondary: #4FC3F7;
  --color-accent: #26A69A;
  --color-neutral: #F5F7FA;
  --color-dark: #263238;
  --color-success: #2ECC71;
  --color-error: #EF5350;
  --font-sans: "Vazir", "Inter", sans-serif;
}

body {
  background-color: var(--color-neutral);
  color: var(--color-dark);
  font-family: var(--font-sans);
}

[dir="rtl"] {
  font-family: var(--font-sans);
}

p {
  margin-bottom: unset;
}

.hero {
  height: calc(100vh - 72px);
}